@import "tailwindcss";

@font-face {
  font-family: "Pacifico";
  src:local("Pacifico-Regular"),url("./fonts/Pacifico-Regular.ttf") format('truetype');
}
.pacifico-regular{
  font-family: 'Pacifico';
}